<div class="col-md-6 col-md-offset-3">
        <p><a [routerLink]="['/commodity']">View Commodities</a></p> 
    
        <div class='row'>
           <div class="panel panel-default">
           <!-- Default panel contents -->
           <div class='panel-heading'>Item Details</div>
            <div class='panel-body'>
            
              <label><strong>Name: </strong></label>
              <label>{{selectedCommodity.name}}</label>

              <br /><br />
              <label><strong>Type: </strong></label>
              <label>{{selectedCommodity.type}}</label>

              <br /><br />
              <label><strong>Department: </strong></label>
              <label>{{selectedCommodity.department}}</label>
              
              <br /><br />
              <label><strong>Price: </strong></label>
              <label>{{selectedCommodity.price}}</label>

              <br /><br />
              <label><strong>Special Price: </strong></label>
              <label>{{selectedCommodity.specialPriceDescription}}</label>

            </div>
          </div>   
    
          <p><a [routerLink]="['/login']">Logout</a></p>
    
    </div>
    
    
    
    