<div class="col-md-6 col-md-offset-3">
    <h2>Edit Item</h2>
        <form name="form" (ngSubmit)="f.form.valid && editItem()" #f="ngForm" novalidate>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !selectedCommodity.name.valid }">
                <label for="selectedCommodity.name">Name</label>
                <input type="text" class="form-control" name="selectedCommodity.name" [(ngModel)]="selectedCommodity.name" #selectedCommodity.name="ngModel" required />
                <div *ngIf="f.submitted && !firstselectedCommodity.name.valid" class="help-block">Name is required</div>
            </div>

            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !selectedCommodity.type.valid }">
                <label for="selectedCommodity.type">Type</label>
                <input type="text" class="form-control" name="selectedCommodity.type" [(ngModel)]="selectedCommodity.type" #selectedCommodity.type="ngModel" required />
                <div *ngIf="f.submitted && !selectedCommodity.type.valid" class="help-block">Type is required</div>
            </div>

            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !selectedCommodity.price.valid }">
                    <label for="selectedCommodity.price">Price</label>
                    <input type="text" class="form-control" name="selectedCommodity.price" [(ngModel)]="selectedCommodity.price" #selectedCommodity.price="ngModel" required />
                    <div *ngIf="f.submitted && !selectedCommodity.price.valid" class="help-block">Price is required</div>
            </div>

            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !selectedCommodity.specialPrice.valid }">
                    <label for="selectedCommodity.specialPrice">Special Price</label>
                    <input type="text" class="form-control" name="selectedCommodity.specialPrice" [(ngModel)]="selectedCommodity.specialPrice" #selectedCommodity.specialPrice="ngModel" required />
                    <div *ngIf="f.submitted && !selectedCommodity.specialPrice.valid" class="help-block">Special Price is required</div>
            </div>

            

            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">Save</button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                <a [routerLink]="['/commodity']" class="btn btn-link">Cancel</a>
            </div>
        </form>
    </div>